<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <table border="1" class="table-striped" style="font-size: 3rem; width: 100%; height: 100%;" >
        <tr><th>English</th><th>Russia</th><th>Uzbek</th></tr>
            <tr><td>Monday</td><td>Понедельник</td><td>Duyshanba</td></tr>
            <tr><td>Tuesday</td><td>вторник</td><td>Seyshanba</td></tr>
            <tr><td>Wednesday</td><td>Среда</td><td>Chorshanba</td></tr>
            <tr> <td>Thursday</td><td>Четверг</td><td>Payshanba</td></tr>
            <tr><td>Friday</td><td>пятница</td><td>Juma</td></tr>
            <tr><td>Saturday</td><td>Суббота</td><td>Shanba</td></tr>
            <tr><td>Sunday</td><td>Воскресенье</td><td>Shakshanba</td></tr>
    
        
    </table>

</body>
</html>